.background-blue{
    background-color: rgb(196 226 255);
}

.aside-buttons > li {
    margin-bottom: 10px;
}




.section-padding{
    padding-top: 50px;
    padding-bottom: 30px;
}

.text-background{
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    background-position:right;
    background-image: url(https://miro.medium.com/max/698/4*BIK9VGjeCj2TaTDw4id2nA.png);
}

